.banner {
    background-image: url("https://img.freepik.com/premium-photo/penne-pasta-tomato-sauce-with-meat-tomatoes-decorated-with-pea-sprouts-dark-table_2829-19421.jpg?w=1380");
    height: 300px;
    width: 100%;
}